<div class="row">
  <div class="form-group btn-center mx-auto">
    <form action="/clientes/findnombrecliente" method="POST">
      <input type="search" class="form-control" name="namecliente" placeholder="Buscar x Nombre..." autofocus />
      <div class="form-group">
        <button class="btn btn-warning btn-block btn-sm" type="submit">
          Buscar x Nombre
        </button>
      </div>
    </form>
  </div>
  <div class="form-group btn-center mx-auto">
    <form action="/clientes/findapellidocliente" method="POST">
      <input type="search" class="form-control" name="lastnamecliente" placeholder="Buscar x NyApellido..." autofocus />
      <div class="form-group">
        <button class="btn btn-warning btn-block btn-sm" type="submit">
          Buscar x Apellido
        </button>
      </div>
    </form>
  </div>
  <div class="form-group btn-center mx-auto">
    <form action="/clientes/findlistadni" method="POST">
      <input type="search" class="form-control" name="dnicliente" placeholder="Buscar x DNI..." autofocus />
      <div class="form-group">
        <button class="btn btn-warning btn-block btn-sm" type="submit">
          Buscar DNI
        </button>
      </div>
    </form>
  </div>
  <div class="form-group btn-center mx-auto">
    <form action="/clientes/findlistafechaentrada" method="POST">
      <input type="search" class="form-control" name="date" placeholder="Buscar x Fecha Alta Cliente..." autofocus />
      <div class="form-group">
        <button class="btn btn-warning btn-block btn-sm" type="submit">
          Buscar Fecha alta
        </button>
      </div>
    </form>
  </div>
  <br /><br />
  <div style="color: rgb(2, 2, 2);text-shadow: 2px 2px 15px black">
    <h5>Sección de Listado de Clientes</h5>
  </div>
  <a href="/clientes/add" class="btn btn-success btn-block">Agregar Cliente!</a>
  <a href="/clientes/listado" class="btn btn-outline-warning btn-block btn-sm">Recargar Listado</a>

  <div class="form-group btn-center mx-auto">
    <br />
    <div class="form-group btn-center mx-auto">
      <table class="table table-dark table-hover">
        <thead>
          <tr style="background-color: rgb(22, 166, 214);text-shadow: 1px 1px 2px black">
            <td>Nombre/Apellido</td>
            <td>D.N.I.</td>
            <td>Tel/Cel</td>
            <td>Email/Correo</td>
            <td>Localidad</td>
            <td>Opciones</td>
            <td>Suplementario</td>
          </tr>
        </thead>
        <tbody>
          {{#each clientes}}
          <tr>
            {{!-- <td style="visibility:collapse;">{{ _id }}</td> --}}
            {{!-- <td>{{ sector }}</td> --}}
            <td style="text-transform: lowercase;">{{ nyacliente }}</td>
            <td>{{ dnicliente }}</td>
            <td style="text-transform: lowercase;">{{ telefonocliente }}</td>
            <td style="color:yellow;">{{ emailcliente }}</td>
            <td>{{ localidadcliente }}</td>
            <td>
              <a class="dropdown-item" href="/clientes/add/{{_id}}"
                style="color:rgb(211, 24, 24);font-weight: bold;text-shadow: 1px 1px 2px black;">Agregar Exped</a>
              <a class="dropdown-item" href="/clientes/list/{{_id}}"
                style="color:rgb(53, 28, 196);font-weight: bold;text-shadow: 1px 1px 2px black">Info Cliente</a>
            </td>
            <td>
              <a class="dropdown-item" href="/clientes/edit/{{_id}}" style="color:rgb(165, 196, 28)">Editar Cliente</a>
              <form onSubmit="return confirm('Desea enviar a Papelera?')" style=""
                action="/clientes/marcadelete/{{_id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <button class="btn btn-danger btn-block btn-sm" type="submit">
                  Papelera
                </button>
              </form>
              {{!-- **** EL BORRADO DE ABAJO ES DEFINITIVO PARA ADMIN --}}
              {{!-- <form onSubmit="return confirm('Desea Borrar?')" style=""
                action="/clientes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger btn-block btn-sm" type="submit">
                  Borrar
                </button>
              </form> --}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{!-- {{else}} --}}